<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>About Us</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/5eb08b3082.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/about.css" type="text/css">
    </head>
    <body>
        <!-- Navigation bar -->
            <nav class="navbar navbar-expand-lg fixed-top">
                <a class="navbar-brand" href="/homepage">
                    <img src="./../images/Logo.png" width="30" height="30" class="d-inline-block align-top" id="brand-pic" alt="brand image">
                    White Collar
                </a>
                <a class="login-signup" href="/login">Login</a>
            </nav>
        <!-- Main content -->
            <div class="row">
                <div class="col-md-5">
                    <img src="./../images/Logo.png" id="about-logo" alt="logo">
                    <div class="cards">
                        <h2 class="heading">About White Collar</h2>
                        <p class="text">Welcome to White Collar, an upcoming professional network 
                            with nearly 100+ users in AttainU.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="cards">
                        <h2 class="heading">Mission</h2>
                        <p class="text">The mission of White Collar is simple:
                            connect the world’s professionals to
                            make them more productive and
                            successful.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="cards">
                        <h2 class="heading">Who are we?</h2>
                        <p class="text">White Collar began in all team member's
                            study room in 2019 and was officially launched
                            just after 3 weeks.
                        </p>
                    </div>
                </div>
            </div>
        <!-- Footer -->
        <div class="footer">
            <span> ©White Collar </span>
            <span> <a href="/about">About Us</a></span>
            <span> <a href="#">FAQ</a></span>
            <span> <a href="#">Contact</a></span>
        </div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{{!-- <script type="text/javascript" src="/js/homepage.js"></script>  --}}
    </body>
</html>
