<!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/homepage">
            <img src="/images/Logo.png" width="30" height="30" class="d-inline-block align-top" id="brand-pic" alt="brand image">
            White Collar
        </a>
        <a class="login-signup" href="/login">Login</a>
    </nav>

    <!-- Our team -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="team-heading">
                    <h1>Meet Our Team</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/eagle-whitecollar/image/upload/v1574846694/afroz_nssxzp.jpg">
                    </div>
                    <h3 class="title">Mohd. Afroz</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="https://github.com/md-afroz-vst-au4" class="fab fa-github"></a></li>
                        <li><a href="mailto:afrozjmi102@gmail.com" class="fab fa-google"></a></li>
                        <li><a href="https://stackoverflow.com/users/12325325/afroz" class="fab fa-stack-overflow"></a></li>
                        <li><a href="https://www.linkedin.com/in/mohd-afroz-11a612126" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
     
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/eagle-whitecollar/image/upload/v1574846692/muzammil_qxaqga.jpg">
                    </div>
                    <h3 class="title">Muzammil Khan</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="http://github.com/muzammil-khan-vst-au4" class="fab fa-github"></a></li>
                        <li><a href="mailto:muzammil.khan@outlook.in" class="fab fa-google"></a></li>
                        <li><a href="#" class="fab fa-stack-overflow"></a></li>
                        <li><a href="http://www.linkedin.com/in/muzammil-khan-" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/eagle-whitecollar/image/upload/v1574846692/rishu_jviszm.jpg">
                    </div>
                    <h3 class="title">Rishu Raj</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="https://github.com/Rishu-raj-vst-au4" class="fab fa-github"></a></li>
                        <li><a href="mailto:officialrishu.raj@gmail.com" class="fab fa-google"></a></li>
                        <li><a href="#" class="fab fa-stack-overflow"></a></li>
                        <li><a href="https://www.linkedin.com/in/rishu-raj-308263172" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="https://res.cloudinary.com/eagle-whitecollar/image/upload/v1574846692/shubham_uxnlr9.jpg">
                    </div>
                    <h3 class="title">Shubham Ambastha</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="https://github.com/shubham-ambastha-vst-au4" class="fab fa-github"></a></li>
                        <li><a href="mailto:shubhams.saurav@gmail.com" class="fab fa-google"></a></li>
                        <li><a href="https://stackoverflow.com/users/12183892/shubham-ambastha" class="fab fa-stack-overflow"></a></li>
                        <li><a href="www.linkedin.com/in/shubhamambastha" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>