<div class="container">
    <div class="row mt-5">
        {{!--profile section in feedpost starts here--}}
        <div class="col-md-3 border rounded mr-2">
            <div>
                <p>profile section</p>
                <img src="#" alt="img">
                <p>name</p>
                <p>skills</p>
                <div>
                    <ul style="list-style-type: none;" class="friendlist-suggestion">
                        <li><span>friends: </span> <b>100</b></li>
                        <li><span>followers: </span> <b>99</b></li>
                        <li> <span>following: </span> <b>80</b> </li>
                        <li> <span>post: </span> <b>243</b> </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div>
                <ul style="list-style-type: none;">
                    <li>friends suggestion 1</li>
                    <hr>
                    <li>friends suggestion 2</li>
                    <hr>
                    <li>friends suggestion 3</li>
                </ul>
            </div>
        </div>
        {{!--profile section ends here--}}

        {{!--post section in feed post starts here--}}
        <div class="col-md-5 mx-2">
            <div class="row border rounded">
                <div class="">
                    <form action="/myPost" method="post" enctype="multipart/form-data" class="form-group">
                        <div class="">
                            <textarea title="text" name="user" class="form-control" id="post-message" cols="30" rows=""
                                placeholder="Write your thoughts here...">
                        </textarea>

                            <button class="btn btn-success btn-sm form-control" type="submit"
                                id="post-button">Post</button>
                            <!--<span class="mx-4"><input type="file" name="avatar" class="form-control" id=""></span>-->
                        </div>
                    </form>
                </div>

                {{!--inserting image/video/file through icons--}}
                <div class="row mx-4 mt-2">
                    <div class="mx-5">
                        <form action="/uploadFiles" method="post" enctype="multipart/form-data" class="form-group">
                            {{!--displaying image icon--}}
                            <label for="image-input" class="mx-4">
                                <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
                            </label>
                            <input style="display: none;" type="file" name="imageFile" id="image-input"
                                accept="image/jpeg, image/jpg, image/png, image/*"/>

                            {{!--displaying video icon--}}
                            <label for="video-input" class="mx-4">
                                <i class="fas fa-photo-video fa-2x"></i>
                            </label>
                            <input style="display: none;" type="file" name="videoFile" id="video-input"
                                accept="video/mp4, video/x-m4v, video/*" />

                            {{!--displaying file icon--}}
                            <label for="file-input" class="mx-4">
                                <i class="far fa-file fa-2x"></i>
                            </label>
                            <input style="display: none;" type="file" name="pdfFile" id="file-input"
                                accept="application/pdf" />

                            {{!-- <input type="file" name="picture" class="form-control" id=""> --}}

                            <button style="float: right;" type="submit" class="btn btn-dark btn-sm mx-2">Post</button>
                        </form>
                    </div>
                </div>
            </div>
            {{!--post section in feed post ends here--}}

            <!--post-->
            <div class="border rounded mt-5">
                <div class="border round">

                    <img src="#" alt=""><br>
                    <span style="float: right;">
                        <button class="btn btn-primary btn-sm">Follow</button>
                    </span>

                    <div>
                        <span>User Name</span>
                        <span>{{feedtime}}</span>
                    </div>
                </div>
                <div class="border round">
                    <p id="user-post">
                        {{post}}
                    </p>

                    <img src="/{{data.path}}" alt="" />
                </div>
                <div class="border round">
                    <span class="mx-4"><i class="far fa-thumbs-up">20</i></span>
                    <spanclass="mx-4"><i class="far fa-comments">5</i></span>
                </div>

                <div class="border round">
                    {{!-- like button --}}
                    <button type="submit">
                        <span class="mx-4"><i class="far fa-thumbs-up" id="like-button"></i></span>
                    </button>

                    {{!-- comment-button --}}
                    <button type="submit">
                        <span class="mx-4"><i class="far fa-comments" i="comment-button"></i></span>
                    </button>

                    {{!-- share button --}}
                    <button type="submit">
                        <span class="mx-4"><i class="fas fa-share" id="share-button"></i></span>
                    </button>
                </div>
            </div>
        </div>


        <div class="col-md-3 border rounded ml-2">
            <div>
                <ul style="list-style-type: none;" class="trending-topics">
                    <li>Trending topic One</li>
                    <hr>
                    <li>Trending topic Two</li>
                    <hr>
                    <li>Trending topic Three</li>
                    <hr>
                    <li>Trending topic Four</li>
                    <hr>
                    <li>Trending topic Five</li>
                </ul>
            </div>
            <hr>
            <div>
                <ul style="list-style-type: none;" class="suggested-article">
                    <li>Article suggestions one</li>
                    <hr>
                    <li>Article suggestions Two</li>
                    <hr>
                    <li>Article suggestions Three</li>
                </ul>
            </div>
        </div>
    </div>
</div>