<div class="container">
    <div class="row mt-5">
        {{!--profile section in feedpost starts here--}}
        <div id="profileSection1" class="col-md-3 border rounded mr-2">
            <div>
                <p>profile section</p>
                <span><img id="profileImageL" src="/public/assets/profile.jpeg" alt="img"></span>
                <p id="userProfileName">Mohd. Afroz</p>

                <span id="skillText"><b>Skills: </b></span>
                <ul id="userSkills">
                    <li>Coding</li>
                    <li>Singing</li>
                </ul>
                <div>
                    <ul style="list-style-type: none;" id="friendlistSuggestion">
                        <li><span>Friends: </span> <b>100</b></li>
                        <li><span>Followers: </span> <b>99</b></li>
                        <li> <span>Following: </span> <b>80</b> </li>
                        <li> <span>Post: </span> <b>243</b> </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div>
                <ul style="list-style-type: none;">
                    <li>
                        <span><img class="profileImgFriendlist" src="/public/assets/profile.jpeg" alt="img"></span>
                        <span>friend1</span>
                        <span>
                            <button class="btn btn-primary btn-sm followFriendButton" id="">Follow</button>
                        </span>
                    </li>
                    <hr>
                    <li>
                        <span><img class="profileImgFriendlist" src="/public/assets/profile.jpeg" alt="img"></span>
                        <span>friend1</span>
                        <span>
                            <button class="btn btn-primary btn-sm followFriendButton" id="">Follow</button>
                        </span>
                    </li>
                    <hr>
                    <li>
                        <span><img class="profileImgFriendlist" src="/public/assets/profile.jpeg" alt="img"></span>
                        <span>friend1</span>
                        <span>
                            <button class="btn btn-primary btn-sm followFriendButton" id="">Follow</button>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        {{!--profile section ends here--}}

        {{!--post section for posting image, video and status in feed-post starts here--}}
        <div class="col-md-5 mx-2">
            <div class="row border rounded">
                <div>
                    <!--<form action="/myPost" method="post" enctype="multipart/form-data">-->
                    <form class="form-group">
                        <div class="">
                            <textarea title="text" name="usersPost" class="form-control" id="postMessage" cols=""
                                rows="" placeholder="Write your thoughts here..."></textarea>

                            <button class="btn btn-success btn-sm form-control" type="submit"
                                id="postButton">Post</button>
                        </div>
                    </form>
                </div>

                {{!--inserting image/video/file through icons--}}
                <div class="row mx-4 mt-2">
                    <div class="mx-5">
                        <form action="/uploadFiles" method="post" enctype="multipart/form-data" class="form-group">
                            {{!--displaying image icon--}}
                            <label for="image-input" class="mx-4">
                                <i class="fa fa-camera fa-2x" aria-hidden="true"></i>
                            </label>
                            <input style="display: none;" type="file" name="imageFile" id="image-input"
                                accept="image/jpeg, image/jpg, image/png, image/*" />

                            {{!--displaying video icon--}}
                            <label for="video-input" class="mx-4">
                                <i class="fas fa-photo-video fa-2x"></i>
                            </label>
                            <input style="display: none;" type="file" name="videoFile" id="video-input"
                                accept="video/mp4, video/x-m4v, video/*" />

                            {{!--displaying file icon--}}
                            <label for="file-input" class="mx-4">
                                <i class="far fa-file fa-2x"></i>
                            </label>
                            <input style="display: none;" type="file" name="pdfFile" id="file-input"
                                accept="application/pdf" />

                            {{!-- <input type="file" name="picture" class="form-control" id=""> --}}

                            <button style="float: right;" type="submit" class="btn btn-dark btn-sm mx-2"
                                id="mediaButton">Post</button>
                        </form>
                    </div>
                </div>
            </div>
            {{!--post section in feed post ends here--}}

            <!--displaying post-->
            {{#each userData}}
            <div class="border rounded mt-5">
                <div class="border round">
                    <span> <img id="profileImage" src="/public/assets/profile.jpeg" alt=""></span>
                    <span id="myUserName"> {{this.userName}} </span>

                    {{!-- <span style="float: right;" class="m-2">
                        <button class="btn btn-primary btn-sm" id="followButton">Follow</button>
                    </span> --}}
                    <br>
                    <span id="postTime">{{this.time}}</span>
                </div>

                <div class="border round">
                    <p id="userPost" class="">
                        {{this.post}}
                    </p>
                    {{#if this.postId.url}}
                    <img id="imagePost" src="/{{this.postId.url}}" alt="" />
                    {{/if}}
                    <hr>
                    <span class="mx-4"><i class="far fa-thumbs-up"><span id="likeCounter">10</span></i></span>
                    <span class="mx-4"><i class="far fa-comments"><span id="commentCounter">5</span></i></span>
                </div>

                <div class="border round">
                    {{!-- like button --}}
                    <button type="submit" id="likeButton">
                        <span class=""><i class="far fa-thumbs-up buttonx"></i></span>
                    </button>

                    {{!-- comment-button --}}
                    <button type="submit" id="commentButton">
                        <span class=""><i class="far fa-comments buttonx"></i></span>
                    </button>

                    {{!-- share button --}}
                    <button type="submit" id="shareButton">
                        <span class=""><i class="fas fa-share buttonx"></i></span>
                    </button>

                </div>
            </div>
            {{/each}}
        </div>


        <div class="col-md-3 border rounded ml-2" id="right-section">
            <div class="mt-3 ml-2">
                <h6 id="article-heading">TOP ARTICLES AND NEWS</h6>
            </div>
            <ul id="trending-topics">
                <li> <a href="#">Trending-topic-one</a></li>
                <hr>
                <li> <a href="#">Trending-topic-two</a></li>
                <hr>
                <li> <a href="#">Trending-topic-three</a></li>
                <hr>
                <li> <a href="#">Trending-topic-four</a></li>
                <hr>
                <li> <a href="#">Trending-topic-five</a></li>
            </ul>
        </div>
    </div>
</div>