<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 border rounded mr-2">
            <div>
                <p>profile section</p>
                <img src="#" alt="img">
                <p>name</p>
                <p>skills</p>
                <div>
                    <ul style="list-style-type: none;" class="friendlist-suggestion">
                        <li><span>friends: </span> <b>100</b></li>
                        <li><span>followers: </span> <b>99</b></li>
                        <li> <span>following: </span> <b>80</b> </li>
                        <li> <span>post: </span> <b>243</b> </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div>
                <ul style="list-style-type: none;">
                    <li>friends suggestion 1</li>
                    <hr>
                    <li>friends suggestion 2</li>
                    <hr>
                    <li>friends suggestion 3</li>
                    <hr>
                    <li>friends suggestion 4</li>
                </ul>
            </div>
        </div>

        <div class="col-md-5 mx-2">
            <div class="row border rounded">
                <form action="/myPost" method="post" enctype="multipart/form-data" class="form-group">
                    <div>
                        <textarea title="text" name="users-post-messages" class="form-control" id="post-message" cols="30" rows=""
                            placeholder="Write your thoughts here...">
                        </textarea>
                        <button class="btn btn-success btn-sm form-control" id="post-button">Post</button>
                        <hr>
                        <!--<span class="mx-4"><input type="file" name="avatar" class="form-control" id=""></span>-->
                    </div>

                    <div>
                        <span class="mx-4"><i class="fa fa-camera fa-2x" aria-hidden="true"></i></span>
                        <span class="mx-4"><i class="fas fa-photo-video fa-2x"></i></span>
                        <span class="mx-4"><i class="far fa-file fa-2x"></i></span>
                    </div>
                </form>
            </div>
            <!--post-->
            <div class="border rounded mt-5">
                <div class="border round">
                    <img src="#" alt="img"><br>
                    <span style="float: right;">
                        <button class="btn btn-primary btn-sm">Follow</button>
                    </span>
                    <div>
                        <span>profile name</span>
                        <span>{{feedtime}}</span>
                    </div>
                </div>
                <div class="border round">
                    <p id="user-post">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.....
                    </p>
                    <img src="#" alt="img" id="image-post">
                </div>
                <div class="border round">
                    <span class="mx-4"><i class="far fa-thumbs-up">20</i></span>
                    <spanclass="mx-4"><i class="far fa-comments">5</i></span>
                </div>

                <div class="border round">
                    <span class="mx-4"><i class="far fa-thumbs-up" id="like-button"></i></span>
                    <span class="mx-4"><i class="far fa-comments" i="comment-button"></i></span>
                    <span class="mx-4"><i class="fas fa-share" id="share-button" ></i></span>
                </div>
            </div>
        </div>


        <div class="col-md-3 border rounded ml-2">
            <div>
                <ul style="list-style-type: none;" class="trending-topics">
                    <li>Trending topic One</li>
                    <hr>
                    <li>Trending topic Two</li>
                    <hr>
                    <li>Trending topic Three</li>
                    <hr>
                    <li>Trending topic Four</li>
                    <hr>
                    <li>Trending topic Five</li>
                </ul>
            </div>
            <hr>
            <div>
                <ul style="list-style-type: none;" class="suggested-article">
                    <li>Article suggestions one</li>
                    <hr>
                    <li>Article suggestions Two</li>
                    <hr>
                    <li>Article suggestions Three</li>
                </ul>
            </div>
        </div>
    </div>
</div>