<br>
<div class="container text-center">
    <form action="/forgotpassword" method="POST">
        <label for="uname" class=""><b>Email</b></label><br>
        <input type="text" placeholder="Enter Email" name="email" required><br><br>
        <button type="submit">Submit</button>
    </form>
</div>
<br>
