 <div class="row mt-3">
    <div class="col-md-3" style="background-color: #9ad4d6 ;">
        <ul class="nav ml-5 mt-5">
          <li class="nav-item ml-5">
                <img src="./../images/Penguins.jpg" class="rounded" alt="Image" width="100px" height="100px"> <br>
                <h4> Name</h4>
                <h6><a href="#">Email</a></h6>
                <h6>Summary</h6>
          </li>
        </ul>
    </div>
    <div class="col-md-8">
        <main role="main" class="col-md-9" style="background-color: #f2fdff ;">
        <h1 class="h2">Dashboard</h1><br>
        <div class="row text-center">
            <div class="col-md-3 card bg-light">
                <div class="card-body">

                <h6>Followers</h6><br>
                24
                </div>
            </div>
            <div class="col-md-3 card bg-light">
                <div class="card-body">

                <h6>Following</h6><br>
                24
                </div>
            </div>
        </div>
        <hr>
        <h4>Skills</h4>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>JavaScript</li>
                    <li>Node.js</li>
                    <li>Express js</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>React</li>
                    <li>Mongo</li>
                    <li>HTML/CSS</li>
                </ul>
            </div>
        
        </div>
    
        <hr>
        <div class="row">
            <div class="col-md-4">

            <h4 style="float: left;">Work Experience</h4><br>
            <ul>
            <li>Student | Full Stack Web Development</li>
            <i>AttainU</i>
            </ul>
            </div>
            <div class="col-md-4 ml-5">    
            <h4>Projects</h4><br>
            <ul>
            <li>White Collar | A Professional social Network</li>
            <i>Project for Shallow Dive @ AttainU</i>
            </ul>
            </div>
            
        </div>
        </main>
    </div>
</div>
