<div>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img src="/images/Logo-transparent(1).png" width="30" height="30" class="d-inline-block align-top"
                id="brand-pic" alt="brand image">
            White Collar
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link item-1" href="#"><i class="material-icons">
                        </i><span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="material-icons">
                        </i><span>Jobs</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="material-icons">
                        </i><span>Message</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="material-icons">
                        </i><span>Notification</span></a>
                </li>
            </ul>
        </div>
        <form class="form-inline" action='/search/jobs/' method="GET">
            <input class="form-control mr-sm-2" name="term" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/images/Logo-transparent(1).png" width="20" height="20" class="d-inline-block align-top"
                    id="profile-pic" alt="brand image">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">View Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Sign out</a>
            </div>
        </div>
    </nav>
</div>
<div id="body">
    <div class="form-row">
        <div class="col-md-6">
            <div class="card" id="Job-Search">
                <div class="card-header">
                    Job Search
                </div>
                <div class="card-body">
                    <div>
                        <input type="text" class="form-control" id="Job-title" placeholder="Search Jobs"
                            name='Job-title'>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="State" placeholder="Enter State" name='place'>
                    </div>
                    <button type="button" class="btn btn-secondary" id="Search">Search</button>
                </div>
            </div>
            <hr>
            <div class="card" id="Job-Post">
                <div class="card-header">
                    Job Post
                </div>
                <div class="card-body">
                <div>
                    <input type="text" class="form-control" id="Job-title" placeholder="Designation" name='Job-title'>
                </div>
                <div>
                    <input type="text" class="form-control" id="State" placeholder="Enter State" name='place'>
                </div>
                <div>
                    <input type="text" class="form-control" id="Company-Name" placeholder="Company-Name"
                        name='Company-Name'>
                </div>
                <div>
                    <input type="number" class="form-control" id="Experience" placeholder="Experience-Required"
                        name='Experience'>
                </div>
                <button type="button" class="btn btn-secondary" id="Post">Post</button>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="col-md-5">
            <h4>Search Result</h4>
        </div>

    </div>
</div>

<link rel="stylesheet" href="/css/jobsearch.css">