<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>White Collar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5eb08b3082.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/landing.css" type="text/css">
</head>

<body>
    <div class="page-preloader">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
</div>
<!--Header-->
<!-- Navigation bar -->
<nav class="navbar navbar-expand-sm fixed-top">
    {{!-- <div class=""> --}}
        <a class="navbar-brand" href="/homepage" id="brand-a-id-1">
            <img src="https://res.cloudinary.com/eagle-whitecollar/image/upload/v1574847247/Logo_dp505y.png" width="30"
                height="30" class="d-inline-block align-top" id="brand-pic-id-1">
            White Collar
        </a>
        <a class="login-signup" href="/login" style="">Login</a>
    {{!-- </div> --}}
</nav>
<!--//** Banner**//-->
<section id="home">
    <div class="container">
        <div class="row">
            <!-- Introduction -->
            <div class="col-md-6 caption">
                <h1>Welcome To WhiteCollar</h1>
                <h2>
                    <span class="text-1">You can connect to people</span>
                    <span class="text-2">You can search jobs</span>
                </h2>
                <p>Be a professional!, Connect to professionals.</p>
                <p>Connect with job seeker, Connect to job provider.</p>
                <a href="/signup" class="btn btn-transparent">Get Started</a>
            </div>
            <!-- Sign Up -->
            <div class="col-md-4 offset-md-2 mt-5">
                <form class="signup-form">
                    <h3 class="text-center">Already a member?</h3>
                    <hr>
                    <div class="form-group text-center">
                        <a class="btn btn-blue btn-block" href="/login">Login Now</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer" id="footer-id">
        <span> ©White Collar </span>
        <span> <a href="/about">About Us</a></span>
        <span> <a href="/contact">Contact</a></span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>
