<div class="page-preloader">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<!--Header-->
<!-- Navigation bar -->
<nav class="navbar navbar-expand-sm fixed-top">
    {{!-- <div class=""> --}}
        <a class="navbar-brand" href="/homepage" id="brand-a-id-1">
            <img src="https://res.cloudinary.com/eagle-whitecollar/image/upload/v1574847247/Logo_dp505y.png" width="30"
                height="30" class="d-inline-block align-top" id="brand-pic-id-1">
            White Collar
        </a>
        <a class="login-signup" href="/login" style="">Login</a>
    {{!-- </div> --}}
</nav>
<!--//** Banner**//-->
<section id="home">
    <div class="container">
        <div class="row">
            <!-- Introduction -->
            <div class="col-md-6 caption">
                <h1>Welcome To WhiteCollar</h1>
                <h2>
                    <span class="text-1">You can connect to people</span>
                    <span class="text-2">You can search jobs</span>
                </h2>
                <p>Be a professional!, Connect to professionals.</p>
                <p>Connect with job seeker, Connect to job provider.</p>
                <a href="/signup" class="btn btn-transparent">Get Started</a>
            </div>
            <!-- Sign Up -->
            <div class="col-md-4 offset-md-2 mt-5">
                <form class="signup-form">
                    <h3 class="text-center">Already a member?</h3>
                    <hr>
                    <div class="form-group text-center">
                        <a class="btn btn-blue btn-block" href="/login">Login Now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>