<br>
<div class="container text-center form-group col-md-4">
    <form action="/setpassword" method="POST">
        <label for="password" class=""><b>Enter new Password</b></label><br>
        <input type="password" class="form-control" placeholder="Enter Password" name="password" required><br><br>
        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" required><br>
        <button type="submit" class="btn btn-secondary" style="background-color: #101935;">Submit</button>
    </form>
</div>
<br>
