<br>
<div class="container text-center">
    <form action="/setpassword" method="POST">
        <label for="password" class=""><b>Enter new Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="password" required><br><br>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" required><br>
        <button type="submit">Submit</button>
    </form>
</div>
<br>
