
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>{{title}}</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="css/signup.css" type="text/css" rel="stylesheet">
	</head>
	<body>                      
                  <div id="header" class="container-fluid">
                        <nav class="navbar fixed-top" id="HeadBar">
                        
                            <!-- Links -->
                            <ul class="nav">
                                <li class="nav-item">
                                    <img src="images/Logo-transparent.png" alt="Logo">
                                </li>
                                <li class="nav-item">
                                    <h4 id="name">WHITE COLLOR</h4>
                                </li>
                            </ul>
                    </div>
                    <div id="body">
                        <div class="row col-md-5">
                            <div class="container">
                                <h3 class="Heading">Sign Up Form </h3>
                                <!-- <hr> -->
                                <form action="/signup" method="post">
                                    <div class="form-row ">
                                        <div class="form-group col">
                                            <!-- <label for="first-name">First Name</label> -->
                                            <input type="text" class="form-control" id="firstname" name="full_name" placeholder="Enter Your Full Name" required>
                                        </div>
                                        <div class="form-group col">
                                            <!-- <label for="exampleInputPassword1">Last Name</label> -->
                                            <input type="text" class="form-control" id="last-name" name="username" placeholder="Choose a Username" required>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col">
                                            <p>Please select your gender:</p>
                                            <input type="radio" name="gender" value="male"> Male
                                            <input type="radio" name="gender" value="female"> Female
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col">
                                                <!-- <label for="InputEmail">Email Mobile Number</label> -->
                                                <input type="text" class="form-control" id="Mobile-number" name="phone_number" placeholder="Enter Mobile Number" required>
                                            </div>
                                            <div class="form-group col">
                                                <!-- <label for="InputEmail">Email address</label> -->
                                                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name="email" placeholder="Enter email" required>
                                            </div>
                                        </div><br>
                                        <div class="form-row">
                                            <div class="form-group col">
                                                <!-- <label for="password">Password</label> -->
                                                <input type="Password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                                            </div>
                                            <div class="form-group col">
                                                <!-- <label for="confirm-password">Confirm Password Code needs a javascript validator for both</label> -->
                                                <input type="Password" class="form-control" id="confirm-password" placeholder="Confirm Password" required>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-secondary" id="Agreeandjoin">Agree and Join</button>
                                        <p class="text-center">Already have an account ? <a href="/login">Login</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>