<div id="header" class="container-fluid">
    <nav class="navbar fixed-top" id="HeadBar">

        <!-- Links -->
        <ul class="nav">
            <li class="nav-item">
                <img src="./../images/Logo-transparent(1).png" alt="Logo">
            </li>
            <li class="nav-item">
                <h4 id="name">WHITE COLLOR</h4>
            </li>
        </ul>
</div>
<div id="body">
    <div class="row col-md-5">
        <div class="container">
            <h3 class="Heading">Sign Up Form </h3>
            <!-- <hr> -->
            <form>
                <div class="form-row ">
                    <div class="form-group col">
                        <!-- <label for="first-name">First Name</label> -->
                        <input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
                    </div>
                    <div class="form-group col">
                        <!-- <label for="exampleInputPassword1">Last Name</label> -->
                        <input type="text" class="form-control" id="last-name" placeholder="Enter Last Name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <p>Please select your gender:</p>
                        <input type="radio" name="gender" value="male"> Male
                        <input type="radio" name="gender" value="female"> Female
                        <input type="radio" name="gender" value="other"> Other
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <!-- <label for="InputEmail">Email Mobile Number</label> -->
                            <input type="text" class="form-control" id="Mobile-number"
                                placeholder="Enter Mobile Number">
                        </div>
                        <div class="form-group col">
                            <!-- <label for="InputEmail">Email address</label> -->
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                                placeholder="Enter email">
                        </div>
                    </div><br>
                    <div class="form-row">
                        <div class="form-group col">
                            <!-- <label for="password">Password</label> -->
                            <input type="Password" class="form-control" id="password" placeholder="Enter Password">
                        </div>
                        <div class="form-group col">
                            <!-- <label for="confirm-password">Confirm Password</label> -->
                            <input type="Password" class="form-control" id="confirm-password"
                                placeholder="Confirm Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary" id="Agreeandjoin">Agree and Join</button>
                </div>
            </form>
        </div>
    </div>


    <link rel="stylesheet" href="css/signup.css">