nav.navbar{
    background-color: #101935;
}

.footer{
    background-color: #101935;
    left: 0;
    bottom: 0;
    width: 99%;
    color: white;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 10px 0px 10px 0px;
}

#brand-pic{
    margin-left: 150px;
}

a{
    color: #9ad4d6;
}

a:hover {
    color: white;
}

a.login-signup{
    margin-left: 55%;
}

#about-logo{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 35px;
}

.col-md-5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

span{
    margin-left: 17%;
    margin-right: 6%;
}

body{
    background: linear-gradient(135deg, #9AD4D6 0%, #101935 100%);
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}