nav.navbar{
    background-color: #101935;
}

#brand-pic{
    margin-left: 150px;
}

a{
    color: #9ad4d6;
    text-align: center;
    margin-right: 30px;
}

a.nav-link{
    padding-top: 0px;
    padding-bottom: 0px;
}

a:hover {
    color: white;
}

a.nav-link.item-1{
    margin-left: 40px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    color: #9ad4d6;
    border-color: #9ad4d6;
    border-radius: 5px;
    border-width: 2px;
    margin-right: 30px;
}

#profile-pic{
    margin-left: 0px;
    border-radius: 5px;
}

span{
    font-size:10px;
    padding:0px 0px 0px 0px;
    display:block;
    text-transform:uppercase;
    text-align: center;
}
body{
    overflow-x: hidden;
}