#profile-pic{
    margin-left: 0px;
    border-radius: 5px;
}

body{
    overflow-x: hidden;
    background: linear-gradient(135deg, #9AD4D6 0%, #101935 100%);
}

div > h1,p{
    color: #ffffff;
}
form#MainContainer {
    background: aliceblue;
}
form {
    padding: 20px 20px 20px 20px;
}

.container {
    border: 2px;
    border-color: black;
    border-radius: 5px;
}