img {
    height: 50px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.container {
    margin-top: 12px;
}

/* div#body {
background: linear-gradient(135deg, #9AD4D6 0%, #101935 100%);
} */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

button#GenderMenuButton {
    background-color: white;
    color: #495057c7;
    border: 1px solid #ced4da;
    /* margin-top: 32px; */
}

button#state {
    background-color: white;
    color: #495057c7;
    border: 1px solid #ced4da;
    /* margin-top: 32px; */
}

#name {
    margin-top: 12px;
    font-family: 'Bree Serif', serif;
    margin-left: 604px;
    color: #fff;
}

.Heading {
    font-family: 'Bree Serif', serif;
    /* margin-left: 186px; */
}

#HeadBar{
    background-color: #101935;
}

button.btn.btn-secondary {
    background-color: #101935;
    margin-left: 206px;
}

.form-control {
    width: 264px;
}
.row.col-md-5 {
    margin-left: 444px;
    border-style: ridge;
    height: 392px;
    margin-top: 105px;
    background-color: #10193594;
    color: aliceblue;
}
input#last-name {
    margin-left: -12px;
}

.form-group.col {
    margin-top: 11px;
}
input#inputEmail {
    margin-left: 12px;
}

input#confirm-password {
    margin-left: 12px;
}
body{
    background-image: url("./../images/Background.jpeg");
    opacity: 0.8;
   
}